PORT=port

DATABASE_URL=YOUR_DB_CONNECTION_STRING

APP_URL=client_url

BCRYPT_SALT_ROUNDS=salt_round

JWT_ACCESS_SECRET=your_jwt_access_secret

JWT_REFRESH_SECRET=your_jwt_refresh_secret

JWT_ACCESS_EXPIRES_IN=your_jwt_access_expire_time

JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expire_time

SEED_PASSWORD=password_for_data_seeding

STRIPE_SECRET_KEY=your_stripe_secret_key
